@keyframes fadeZoomIn
  from
    opacity: 0
    transform: scale(0.95) translateY(20px)
  to
    opacity: 1
    transform: scale(1) translateY(0)

@keyframes spin
  0%
    transform: translateX(0)
  100%
    transform: translateX(-800px)

// Цветовая палитра
$bg-color: #f0f2f5
$content-bg: #ffffff
$sidebar-bg: #1f1f1f
$text-color: #222
$link-color: #007acc
$link-hover: #005a99
$shadow: 0 2px 6px rgba(0, 0, 0, 0.1)    

body
  //font-family: sans-serif
  //margin: 0
  //background: #f9f9f9

.layout
  display: flex
  min-height: 100vh

.sidebar
  width: 240px
  background: #fff
  padding: 2rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start // 👈 это двигает контент вверх
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05)

.content
  flex: 1
  padding: 2rem

  h1
    color: #222
    margin-bottom: 1.5rem

  ul
    padding: 0
    list-style: none

  li
    margin-bottom: 1rem
    padding: 1rem
    border-radius: 8px
    background: #fff
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05)
    animation: fadeZoomIn 0.5s ease forwards
    opacity: 0
    position: relative
    transition: transform 0.3s ease

    a
      color: #333
      text-decoration: none
      font-weight: 500

      &:hover
        color: #007bff

// Анимационные задержки
.delay-1
  animation-delay: 0.1s
.delay-2
  animation-delay: 0.2s
.delay-3
  animation-delay: 0.3s
.delay-4
  animation-delay: 0.4s
.delay-5
  animation-delay: 0.5s

// 🌍 Глобус
.globe-container,
.globe
  width: 200px
  height: 200px

.globe-container
  position: relative
  display: inline-block
  margin: 30px
  transform: scale(1.1)

.globe
  position: relative
  display: block
  margin: 0
  padding: 0
  top: 0
  left: 0

.globe-worldmap,
.globe-worldmap-front,
.globe-worldmap-back,
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow
  position: absolute
  display: block
  margin: 0

.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow
  left: 0
  top: 0
  width: 200px
  height: 200px
  background-position: 0 0
  background-repeat: no-repeat

.globe-worldmap
  left: 0
  top: 0
  width: 200px
  height: 200px
  overflow: hidden
  border-radius: 50%

.globe-worldmap-front,
.globe-worldmap-back
  left: 0
  top: 0
  width: 1000px
  height: 200px
  overflow: visible
  background-image: url('/img/worldmap.svg')
  background-repeat: no-repeat

.globe-outer-shadow
  left: 0
  top: 186px
  width: 200px
  height: 30px
  background-image: url('/img/outer_shadow.svg')

.globe-inner-shadow
  background-image: url('/img/inner_shadow.svg')

.globe-worldmap-front
  background-position: 0px 0px
  animation: textureSpinreverse 8s linear infinite

.globe-worldmap-back
  background-position: 0px -220px
  animation: textureSpin 8s linear infinite

@keyframes textureSpin
  from
    transform: translateX(0)
  to
    transform: translateX(-47.5%)

@keyframes textureSpinreverse
  from
    transform: translateX(-47.5%)
  to
    transform: translateX(0)
